<div id="about">
    <div id="aboutDes">
        <div id="prob">
            <h2>Problem</h2>
            <p>Unavailability of an efficient and user-friendly online platform for prospective students to search and
                discover colleges in India along with detailed information about the courses offered and contact details
                of the institutions.</p>
        </div>
        <div id="back">
            <h2>Background</h2>
            <p>There is a significant lack of a centralized platform for students to search and discover colleges, along
                with comprehensive details of the courses they offer. Existing resources are scattered and some are
                outdated or insufficient in providing the necessary information. When searching for colleges online,
                students are bombarded with advertisements, making it difficult for them to make weell-informed
                decisions about their education. Our platform provides students with accurate and reliable information
                about colleges, courses offered and contact details, without any persuasive tactics.</p>
        </div>
        <div id="rel">
            <h2>Relevance</h2>
            <p>This will help Cloud Counselage to understand the possibility of partnerships with colleges to help their
                students in professional development.</p>
        </div>
    </div>
    <div id="aboutLogo">
        <img src="cloud counselage logo.jpg" alt="">
        <img src="logo.svg" alt="">
    </div>
</div>